.vim/bundle/
.vim/.netrwhist

.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/ranger/devicons.*
.config/ranger/plugins/
.config/nvim/.netrwhist
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql

*.log

notes.md

