.vim/bundle/
.vim/.netrwhist

.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/playlists
.config/mpd/state
.config/mpd/sticker.sql

.config/nvim/.netrwhist

.config/ranger/bookmarks
.config/ranger/devicons.*
.config/ranger/history
.config/ranger/plugins/
.config/ranger/tagged

.config/R/library/
.config/R/*.rds

*.log

notes.md

